<c-card>
    <c-card-header>
        Update Profile
    </c-card-header>
  <c-card-body>
    <form cForm class="row g-3">
        <c-col md="6">
          <label cLabel for="inputFirstName">First Name</label>
          <input cFormControl class="required" id="inputFirstName" name="firstName" type="text" [(ngModel)]="user.firstName" placeholder="Enter First Name" />
        </c-col>
        <c-col md="6">
          <label cLabel for="inputLastName">Last Name</label>
          <input cFormControl class="required" id="inputLastName" type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Enter Last Name" />
        </c-col>
        <c-col xs="6">
          <label cLabel for="inputUsername">Username</label>
          <input cFormControl class="required" id="inputUsername" disabled name="username" [ngModel]="user.username" placeholder="Enter Username" />
        </c-col>
        <c-col md="6">
            <label cLabel for="inputEmail">Email</label>
            <input cFormControl class="required" id="inputEmail" type="text" name="email" [(ngModel)]="user.email" placeholder="Enter Email" />
          </c-col>
          <c-col md="12">
            <button type="button" class="btn btn-primary" (click)="updateProfile()">Update</button>
          </c-col>
      </form>
  </c-card-body>
</c-card>